/* Setting a variable, we will use this variable with interpolation.
 Meaning in combination with other information. */
body {
  font-family: "Libre Franklin", sans-serif;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", serif;
  color: #58595B; }

nav {
  font-family: Cantarell, sans-serif;
  font-size: 20px;
  background-color: #FFFFFF; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      display: block;
      padding: 20px;
      color: #58595B;
      /*
          Using variable interpolation.
          Adding border- in front of the variable which compiles to border-radius
        */
      transition: all 300ms ease-in-out; }
      nav ul li a:hover, nav ul li a:focus {
        color: #FFFFFF;
        background-color: #58595B; }

#carouselExampleFade {
  max-height: 768px;
  min-width: auto; }

.fadingLine {
  margin: 25px 0;
  height: 1.5px;
  border: 0;
  background: #CEAB2C;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #CEAB2C)); }
