@import 'variables';

body{
  font-family: $fonts-text;
  background-color: $white;
  color: $white;
  font-size: $text-font-size;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-headings;
  color: $text-color;
}
nav{
  // Setting a local value for the variable. This will overite the value for the !default but only inside this declaration
  $text-font-size: 20px;
  font-family: $fonts-menu;
  font-size: $text-font-size;
  background-color: $white;
  ul{
    li{
      display: inline-block;
      a{
        display: block;
        padding: 20px;
        color: $text-color;
        /*
          Using variable interpolation.
          Adding border- in front of the variable which compiles to border-radius
        */
        // border-bottom: 1px solid $text-color;
        transition: all 300ms ease-in-out;
        &:hover, &:focus{
          color: #FFFFFF;
          background-color: $text-color;
        }
      }
    }
  }
}
