@import 'variables';

body{
  $text-font-size: 14px;
  font-family: $fonts-text;
  background-color: $white;
  color: $text-color;
  font-size: $text-font-size;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-headings;
  color: $text-color;
}
nav{
  // Setting a local value for the variable. This will overite the value for the !default but only inside this declaration
  $text-font-size: 20px;
  font-family: $fonts-menu;
  font-size: $text-font-size;
  background-color: $white;
  ul{
    li{
      display: inline-block;
      a{
        display: block;
        padding: 20px;
        color: $text-color;
        /*
          Using variable interpolation.
          Adding border- in front of the variable which compiles to border-radius
        */
        // border-bottom: 1px solid $text-color;
        transition: all 300ms ease-in-out;
        &:hover, &:focus{
          color: $white;
          background-color: $text-color;
        }
      }
    }
  }
}
.brandingLogo{
  height: 60px;
}
#carouselExampleFade {
  max-height: 768px;
  min-width: auto;
}
.fadingLine {
  clear: both;
  margin: 15px 0;
    height: 1.5px;
    border: 0;
    background: $accent-color;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, $accent-color));
}
.aboutHeader {
  padding-bottom: 10px;
  text-align: center;
}
.aboutPhoto {
  display: block;
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.About p {
  text-indent: 20px;
  padding-top: 10px;
  margin: auto;
  width: 90%;
}
.galleryHeader {
  padding-bottom: 10px;
  text-align: center;
}
.gallery img {
  width: 80%;
  margin-left:10%;
  margin-bottom:2px;
  &.galleryImage6 {
    width: 39%;
    margin-right: 0.8%;
  }
  &.galleryImage7 {
    width: 39%;
    margin-left: 0.8%;
  }
}
.galleryImage4, .galleryImage5 {
  display: none;
}

.galleryButton {
  text-align: center;
}
.gallerySeeMore {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.engagementPackage img {
  width: 13%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.engagementPackage h5 {
  text-align: center;
}
.engagementPackage p {
  width: 80%;
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.contactInfo {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contactFormLeft, .contactFormRight h5 {
  text-align: center;
}
input, textarea{
  display: block;
  padding-left: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  height: 30px;
  background-color: $form-color;
  border-radius: 10px;
  border: none;
}
textarea {
  height: 90px;
}
.footerNav {
  width: 40%;
  float: left;
}
.contactSubmit {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.socialIcons{
  width: 40%;
  float: right;
}
.socialIcons h5{
  text-align: center;
}
.iconBorder {
  border: 2px solid $accent-color;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}
.socialMediaIcon {
  width: 52px;
  height: 52px;
  display: block;
  margin: auto;
  margin-top: 2px;
}
// Breakpoint for wedium width screens (tablets)
@media (min-width: 768px) {


  .carousel {
    margin-bottom: px;
  }
  .About {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .About img {
    width: 40%;
    display:inline-block;
    float: left;
  }

  .aboutText {
    width: 50%;
    display: inline-block;
    margin-left: 60px;
    float: right;
  }
  .galleryTopper {
    clear: both;
  }

  .galleryImage4, .galleryImage5 {
    display: block;
  }

  .gallery .galleryImage1 {
    width: 39%;
    margin-right: 0.8%;
  }
  .gallery .galleryImage2 {
    width: 39%;
    margin-left: 0.8%;
    margin-right: 10%;
  }
  .gallery .galleryImage4 {
    width: 39%;
    margin-right: 0.8%;
    display: inline-block;
  }
  .gallery .galleryImage5 {
    width: 39%;
    margin-left: 0.8%;
    margin-right: 10%;
    display: inline-block;
  }

  .engagementPackage {
    width: 33%;
    float: left;
    display: inline-block;
  }
  .engagementPackage img {
    height: 100px;
    width: auto;
  }
  .engagementPackage p {
    text-align: left;
  }
  .contactBlock {
    clear:both;
  }

  }

// Breakpoint for large width screens (desktop)
@media (min-width: 992px) {

  p {
    font-size: 1.0rem;
  }
  .aboutText {
    font-size: 1.0rem;
  }

  input, textarea {
    width: 60%;
  }
  
}

@media (min-width: 1480px) {


  h2 {
    font-size: 2.1rem;
  }
  h5 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.2rem;
  }
  .carousel {
    margin-bottom: 100px;
  }
  .About img {
    width: 30%;
    margin-left: 10%;
  }
  .aboutText {
    font-size: 1.2rem;
  }
}

@media (min-width: 1700px) {
  .carousel {
    margin-bottom: 250px;
  }
}
